
.main{
    color: #d3d9d2;

    background-color: #111;
    /* background-image: url("../image.png"); */
    /* background-size: cover; */
    background-position: center;
    padding: 50px 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    @media (max-width: 650px) {
        flex-direction: column;
        align-items: center;
      }
      
}

.main .left{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.main .left h3{
    margin-top: 10px;
    font-weight: bold;
    font-size: 46px;
}

.main .left h3 span{
    color: #ff5501;
}

/* .main .left p{
    color: #f44336;
    font-size: 22px;
    margin-top: 20px;
} */

.main .left button{
    margin-top: 40px;
    color: #d3d9d2;
    cursor: pointer;
    background-color: #ff5501;
    padding: 14px 24px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.main .right img{
    width: 500px;
}

    hr {
        width: 50%;
        height: auto;
        margin: revert;
        color: white;
    }