/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
  height: 100vh;
  background: #212529;
  color: #ccc;
} */
.seprator{
  margin: 50px 50px 30px;
  padding: 10px 20px;
  background-color: #111;
  display: inline-block;
  color: #ff5501;
  border-radius: 12px;
}

.about{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  /* padding: 0 50px; */
  padding:50px 85px;

}

.about img{
  width: 280px;
}

.about .info h3{
  color: #d3d9d2;
  /* font-size: 32px; */
  font-size: 46px;

  font-weight: 600;
  margin-bottom: 10px;
}

.about .info p{
  color: #d3d9d2;
  font-size: 14px;
}

.about .info button{
  margin-top: 30px;
}
.hire-btn{
  background: #ff5501;
  padding: 6px 30px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.hire-btn:hover{
  background: #ffb742;
}

@media (max-width: 650px) {

.about{
  flex-wrap: wrap;
  justify-content: center;
}
}
