
.skills{
  display: flex;
  justify-content: space-around;
  padding: 0 50px;
}

.skills .left{
  width: 680px;
}

.skills .left .info h3{
  color: #fff;
  font-size: 30px;
  margin-bottom: 20px;
}

.skills .left .info p{
  color: #ccc;
  font-size: 14px;
}

.skills .left button{
  margin-top: 30px;
}

.skills .right{
  width: 420px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}

.skills .right .item{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d3d9d2;
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.skills .right .item i{
  font-size: 34px;
  color: #fff;
}
svg{
  width: 90px;
  height: 40px;
}
