body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    background-color: #111;
    /* color: #fff; */
  }
  
  .menu {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    border-bottom: 1px solid #eee;
    
    @media (max-width: 650px) {
      flex-direction: column;
      align-items: center;
    }
    
    .item {
      font-weight: 700;
      padding: 18px 28px;
      cursor: pointer;
      transition: color .3s ease-out;
      text-decoration: none;
      color: #d3d9d2;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      font-size: 12px;
      margin: 5px 0;
      
      &.active {
        color: #d3d9d2;
      }
    }
    
    .indicator {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 30px;
    }
  }